/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 0.875rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img:not(.logo){
    width: 100%;
}
img{
    display: block;
}

h1,
h2,
h3,
h4{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }

    h1, h2, h3, h4{
        line-height: 1;
    }
}

.section{
    padding-bottom: 5rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

/*
=============== 
Heading
===============
*/

@media screen and (min-width: 992px){
    .section-center{
        width: 95vw;
    }
}

nav{
    background: rgba(170, 200, 170, 0.6);
    padding: 1rem 1.5rem;
    height: 3rem;
    transition: all 0.3s linear;
}

.nav-height-adjust{
    height: 248px;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fixed-nav .links a{
    color: var(--clr-grey-1);
}
.fixed-nav .links a:hover{
    color: var(--clr-secondary);
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle{
    font-size: 1.5rem;
    color: var(--clr-black);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover{
    color: var(--clr-black);
    transform: rotate(90deg);
}

.logo{
    height: 50px;
}

.links-container{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links{
    height: 200px;
}
ul{
    padding-inline-start: 10px;
}
.links a{
    background:transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover{
    color: var(--clr-grey-1);
}

@media screen and (min-width: 800px){

    nav{
        background: transparent;
        height: auto;
    }
    .nav-height-adjust{
        height: auto;
    }

    .nav-center{
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header{
        padding: 0;
    }
    
    .nav-toggle{
        display: none;
    }

    .links-container{
        height: auto;
    }

    .links{
        display: flex;
    }

    .links a{
        background: transparent;
        color: var(--clr-white);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }

    .links a:hover{
        color: #004e00;
    }

}

header{
    min-height: 100vh;
    display: grid;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner{
    display: grid;
    place-items: center;
    text-align: center;
    top: 0;
    margin: 0 auto;
} 

.container h1{
    color: #004e00;
    text-transform: uppercase;
}

.container p{
    color: var(--clr-white);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.container a{
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.1s linear;
    letter-spacing: var(--spacing);
}

.container a:hover{
    background: var(--clr-black);
    border: 2px solid var(--clr-black);
    color: green;
}

@media screen and (min-width: 768px){
    .container p{
        max-width: 40rem;
    }
}

    .title h2{
        text-align: center;
        text-transform: uppercase;
    }

    .title span{
        color: var(--clr-secondary);
    }

    #about,
    #projects,
    #contacts{
        height: 80vh;
    }

    #projects .title h2{
        color: var(--clr-secondary);
    }

    #projects .title span{
        color: var(--clr-grey-1);
    }

    footer{
        background: var(--clr-grey-1);
        padding: 5rem 1rem;
    }

    footer p{
        color: var(--clr-white);
        text-align: center;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        margin-bottom: 0;
    }

    .top-link{
        font-size: 1.25rem;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        background: var(--clr-secondary);
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: var(--radius);
        color: var(--clr-white);
        animation: bounce 2s ease-in-out infinite;
        visibility: hidden;
        z-index: -100;
    }

    .show-top-link{
        visibility: visible;
        z-index: 100;
    }

    @keyframes bounce{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.5);
        }
        100%{
            transform: scale(1);
        }
    }

/*
=============== 
About
===============
*/

.section-center{
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 100%;
    overflow-y: scroll;
}

.about{
    background: var(--clr-white);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: auto 1fr;
}

.btn-container{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn:nth-child(1){
    border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3){
    border-top-right-radius: var(--radius);
}

.tab-btn{
    padding: 1rem 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: var(--clr-grey-9);
    cursor: pointer;
    transition: var(--transition);
    letter-spacing: var(--spacing);
}

.tab-btn:hover:not(.active){
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
}

.about-content{
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 2rem 1.5rem;
}

.about-content h4{
    text-align: center;
}

.content{
    display: none;
}

.tab-btn.active{
    background: var(--clr-white);
}

.content.active{
    display: block;
}

.image-container{
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.image-container img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

/* -----------------------education-------------------------- */

.timeline-block span{
    font-size: 1.5rem;
    margin-top: 28px;
    color: #d6ab60;
}

.timeline-content{
    margin-left: 5px;
    text-align: center;
    margin: 0 auto;
}

.timeline-content h5{
    font-size: 1.1rem;
    color: #d6ab60;
    margin: 0 auto;
    
}


@media screen and (min-width: 800px){
    .image-container{
        padding: 1.5rem 0rem;
    }
    .image-container img{
        width: 220px;
        height: 220px;
    }
    .about-content{
        width: 75%;
        margin: 0 auto;
    }
    .timeline-block{
        margin-bottom: 5rem;
    }
    
}


/* -----------------------skills-------------------------- */

.skill-area{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.skill{
    margin-bottom: 40px;
}

.skill-title{
    text-transform: capitalize;
    margin-bottom: 0.876rem;
    color: var(--clr-grey-1);
}

.skill-bar{
    width: 100%;
    background: rgba(200, 200, 200, 0.6);
    height: 2rem;
    z-index: 1;
    border-radius: 100px;
}

.skill-fill{
    background: var(--clr-primary-5);
    color: var(--clr-white);
    font-weight: 900;
    height: 2rem;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}

.html{
    animation: html 2s;
    width: 70%;
}

.css{
    animation: css 2s;
    width: 60%;
}

.javascript{
    animation: javascript 2s;
    width: 75%;
}

.java{
    animation: java 2s;
    width: 65%;
}

.python{
    animation: python 2s;
    width: 60%;
}

.angular{
    animation: angular 2s;
    width: 10%;
}

.cpp{
    animation: cpp 2s;
    width: 85%;
}

.adobe{
    animation: adobe 2s;
    width: 60%;
}

@keyframes html{
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}

@keyframes css{
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
}

@keyframes javascript{
    from{
        width: 0;
    }
    to{
        width: 75%;
    }
}

@keyframes java{
    from{
        width: 0;
    }
    to{
        width: 65%;
    }
}

@keyframes python{
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
}

@keyframes angular{
    from{
        width: 0;
    }
    to{
        width: 10%;
    }
}

@keyframes cpp{
    from{
        width: 0;
    }
    to{
        width: 65%;
    }
}

@keyframes adobe{
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .skill-area{
        padding: 0 1%;
    }
    .skill-bar{
        height: 1.5rem;
    }
    .skill-fill{
        height: 1.5rem;
    }
}

/*
=============== 
Projects
===============
*/

.project-center{
    padding: 1rem;
    overflow-y: scroll;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card{
    width: 25%;
    height: 416px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: var(--transition);
}

.card-image{
    padding: 0.75rem;
    margin: 0.25rem auto;
    width: 80%;
    align-self: center;
}

.card-image img{
    height: 160px;
}

.card-body{
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
}

.card-body .btn{
    display: block;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #49a6e9,  hsl(205, 86%, 17%));
    text-decoration: none;
    padding: 10px 5px;
    margin-top: 30px;
    transition: var(--transition);
}

.card-body .btn:hover{
    background: linear-gradient(to left, #49a6e9,  hsl(205, 86%, 17%));
}

.card:hover{
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1000px){
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 620px){
    .projects{
        width: 100%;
    }
    .card{
        width: 80%;
    }
}

/*
=============== 
Contact
===============
*/

.contact-center{
    overflow: hidden;
    display: grid;
    place-items: center;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.name, .email{
    width: 20rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 2px solid var(--clr-grey-1);
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 2px;
}

.message{
    width: 20rem;
    height: 5rem;
    font-size: 1rem;
    border: 2px solid var(--clr-grey-1);
    border-radius: 2px;
    margin-bottom: 3px;
}

.btn-submit{
    width: 20rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid var(--clr-grey-1);
    background: var(--clr-grey-1);
    color: var(--clr-grey-10);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 2px;
    transition: var(--transition);
}

.btn-submit:hover{
    background: var(--clr-grey-3);
}

@media screen and (max-width: 800px){
    .contact-container{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .address-container{
        margin-left: 15%;
        font-size: 1rem;
    }

    .form-container{
        display: grid;
        place-items: center;
    }
}


/*
=============== 
Footer
===============
*/

.social-icons{
    display: flex;
    place-items: center;
    width: 15%;
    margin: 0 auto;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

.social-icons a{
    color: var(--clr-white);
}

.social-icons a:hover{
    color: var(--clr-grey-4);
}

@media screen and (max-width: 800px){
    .social-icons{
        width: 50%;
    }
}


/* fixing scroll-bar  */
::-webkit-scrollbar{
    width: 3px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track{
    border-radius: 100%;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background: #ccc;
}